---
layout: default
title: import as
---

<ol class="main-list">
{% for group in site.data.by_alias %}
  <li>
    <span class="item-box">
      <code class="alias">{{ group.alias }}</code>
      <span class="count">{{ group.count }}</span>
    </span>
    <ul class="badge-list">
    {% for import in group.imports %}
      <li>
	<a href="{{ import.target | datapage_url: "import" }}">
          <span class="count">{{ import.count }}&nbsp;&times;&nbsp;</span><code>{{ import.target }}</code>
        </a>
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ol>
